<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
<form action="/ticket" method="post" >


    <label for="code">code:</label>
    <input type="number" id="code" name="cod" placeholder="code"><br><br>
    <label for="name">name:</label>
    <input type="text" id="name" name="name" placeholder="name"><br>
    <label for="family">family:</label>
    <input type="text" id="family" name="family" placeholder="family"><br><br>
    <label for="birth_date">birth_date:</label>
    <input type="text" id="birth_date" name="birth_date" placeholder="birth_date"><br><br>
    <label for="origin">origin:</label>
    <input type="text" id="origin" name="origin" placeholder="origin"><br><br>
    <label for="description">description:</label>
    <input type="text" id="description" name="description" placeholder="description"><br><br>
    <label for="start_date_time">start_date_time:</label>
    <input type="text" id="start_date_time" name="start_date_time" placeholder="start_date_time"><br><br>
    <label for="end_date_time">end_date_time:</label>
    <input type="text" id="end_date_time" name="end_date_time" placeholder="end_date_time"><br><br>
    <label for="ticket_type">ticket_type:</label>
    <input type="text" id="ticket_type" name="ticket_type" placeholder="ticket_type"><br><br>
    <label for="seat_number">seat_number:</label>
    <input type="text" id="seat_number" name="seat_number" placeholder="seat_number"><br><br>
    <label for="price">price:</label>
    <input type="text" id="price" name="price" placeholder="price"><br><br>
    <input type="submit" value="save">

</form>
</body>
</html>
