<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form action="/user" method="post" >


    <label for="code">code:</label>
    <input type="number" id="code" name="cod" placeholder="code"><br><br>
    <label for="name">name:</label>
    <input type="text" id="name" name="name" placeholder="name"><br>
    <label for="family">family:</label>
    <input type="text" id="family" name="family" placeholder="family"><br><br>
    <label for="username">username:</label>
    <input type="text" id="username" name="username" placeholder="username"><br><br>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" placeholder="password"><br><br>
    <label for="role">role:</label>
    <input type="text" id="role" name="role" placeholder="role"><br><br>
    <label for="locked">locked:</label>
    locked<input type="checkbox" id="locked" name="locked" placeholder="locked"><br><br>
    <input type="submit" value="save">

</form>
</body>
</html>
